@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Crimson+Text:400,600,700&display=swap');

body {
    background: #fff;
    box-sizing: border-box;


}

a:hover {}

li,
a {
    text-decoration: none !important;
    cursor: pointer;
    color: #000;
    list-style: none;
    font-family: 'muli', sans-serif;
}

a {

    line-height: inherit;
}

* {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
div,
p {
    font-family: 'Poppins', sans-serif;
}

.top_header {
    background: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.top_header .container {
    max-width: 1170px;
}

.mt_topbar_left {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}

.list_top_header {
    margin-left: 0;
    margin-bottom: 0;
    line-height: 0;
}

.list_top_header li {
    display: inline-block;
    color: #000;
    padding: 0 15px 0 10px;
    min-height: 38px;
    position: relative;
    font-size: 12px;
    vertical-align: middle;
    padding-top: 13px;
}

.list_top_header li i {
    margin-right: 5px;
    font-size: 13px;
}

.list_top_header li a {
    color: #000;
    letter-spacing: 0.4px;
    font-weight: 500;
}

.mt_topbar_right {
    float: right;
}

.appon_btn {
    background: #e53935;
    font-size: 13px;
    padding: 10px 20px;
    display: inline-block;
    font-size: 14px;
    outline: none;
    cursor: pointer;
    outline: none;
    border-width: 0;
    border-style: solid;
    border-color: transparent;
    line-height: 1.42857;
    margin-left: -1px;
    text-decoration: none !important;
}

.appon_btn a {
    color: #fff;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 13px;
}

.main_header {
    position: relative;
    z-index: 999;
    background: #fff;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
}

.main_header .container {
    max-width: 1140px;
}

.logo_sec {
    padding-top: 0px;
}

.logo_sec img {
    width: 172px;
}

.main_header_menu {
    background: #fff;
    margin-top: 3px;
    position: relative;
}

.main_header_menu ul {
    margin-bottom: 0px;
    float: right;
    margin-top: 10px;
}

.main_header_menu ul li {
    display: inline-block;
    position: relative;
}

.main_header_menu ul li a {
    padding: 21px 12px 20px;
    color: #000;
    font-size: 15px;
    font-weight: 600;
}

.mt_topbar_right {}

.mt_topbar_right ul {
    margin-bottom: 0;
}

.mt_topbar_right ul li {
    display: inline-block;
    list-style: none;
    font-size: 12px;
    padding: 12px 0;
    margin-left: -1px;
}

.mt_topbar_right ul li a {
    font-weight: 400;
    color: #000;
    display: block;
    padding: 0 13px;
    line-height: 15px;
}

.active_link {
}

.btn_danger {
    background: #09bc8a;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    vertical-align: middle;
    margin-left: 5px;
    position: relative;
    border: none;
}

.page_one {
    font-weight: 600 !important;
}

.right_border {
    border-right: 1px solid #fff;
}

.left_border {
    border-left: 1px solid #fff;
}

.home_slider {}

.hero_slider_inner {

    width: 100%;

    position: relative;

    height: 600px;

    background-position: center;

    background-size: cover;

    background-repeat: no-repeat;
}

.hero_slider_contnet {
    position: relative;
    padding-top: 10%;
    padding-left: 10%;
}

.hero_slider_contnet span {
    color: #09bc8a;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 2px;
    letter-spacing: 0.2px;
}

.hero_slider_contnet h4 {
    font-size: 45px;
    font-weight: 700;
    width: 500px;
    color: #fff;
    letter-spacing: 0.2px;
}

.hero_slider_contnet p {
    color: #fff;
    font-size: 14px;
    letter-spacing: 0.2px;
    font-weight: 300;
}

.desc1 {
    width: 70%;
}

.hero_slider_buutons {
    padding-top: 40px;
}

.hero_slider_buutons a {}

.hero_brn1 {
    background: #09bc8a;
    border: 1.5px solid #09bc8a;
    padding: 10px 26px 10px 28px;
    border-radius: 4px;
    color: #fff !important;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.4px;
    margin-right: 26px;
}

.hero_brn2 {
    background: transparent;
    border: 1.5px solid #fff;
    padding: 10px 26px 10px 28px;
    border-radius: 4px;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.4px;
    margin-right: 26px;
}

.hero_slider .owl-dots {

    display: none;
}

.about_sec {
    position: relative;
    padding-top: 77px;
    padding-bottom: 60px;
}

.about_sec_content {
    padding-right: 30px;
    position: relative;
}

.about_sec_content span {
    font-size: 14px;
    font-weight: 500;
    color: #09bc8a;
    margin-bottom: 10px;
    display: block;
}

.about_sec_content h1 {
    font-size: 36px;
    font-weight: 700;
    color: #001c6b;
    line-height: 44px;
    margin-bottom: 20px;
}

.about_sec_content p {
    font-size: 15px;
    color: #282f41;
    font-weight: 400;
    line-height: 27px;
}

.about_bg_sec_inner {
    position: absolute;
    height: 40px;
    width: 38%;
    bottom: 53px;
    left: 20px;
}

.about_bg_sec img {
    width: 100%;
    position: relative;
}

.about_sec .container {
    max-width: 1170px;
}

.about_sec_btn {
    position: relative;
    padding-top: 30px;
}

.about_sec_btn a {
    background: rgb(9, 188, 138);
    color: #fff !important;
    padding: 11px 30px;
    box-shadow: 0 3px 13px rgba(0, 0, 0, 0.09), 0 1px 5px 0 rgba(0, 0, 0, 0.14);
    border-radius: 3px;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.2px;
}

.about_sec_icon {
    width: 25%;
    float: left;
    display: inline-block;
    height: auto;
}

.about_sec_expreincs {
    width: 75%;
    float: left;
    display: inline-block;
    height: auto;
}

.about_sec_expreincs span {
    color: #fff;
    font-size: 36px;
    margin-bottom: 0;
    display: block;
    font-weight: 600;
    margin-top: -11px;
}

.about_sec_expreincs p {
    margin-bottom: 0;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    margin-top: -11px;
}

.about_bg_sec {
    position: relative;
}

.about_sec_icon i {
    color: rgb(9, 188, 138);
    font-size: 35px;
}

.service_offers {
    position: relative;
    padding-top: 60px;
    padding-bottom: 60px;
    background: #E9F1F9;
}

.service_offer_title {
    margin-bottom: 40px;
    position: relative;
    z-index: 4;
}

.service_offer_title span {
    font-size: 14px;
    font-weight: 500;
    color: #09bc8a;
    margin-bottom: 10px;
    display: block;
    letter-spacing: 0.8px;
}

.service_offer_title h2 {
    font-size: 36px;
    font-weight: 700;
    color: #001c6b;
    line-height: 44px;
}

.service_btn_stly {}

.service_btn_stly a {
    background: rgb(9, 188, 138);
    color: #fff !important;
    padding: 11px 30px;
    box-shadow: 0 3px 13px rgba(0, 0, 0, 0.09), 0 1px 5px 0 rgba(0, 0, 0, 0.14);
    border-radius: 3px;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.2px;
}

.service_offer_box {
    position: relative;
    box-shadow: 0 4px 10px 0 rgba(48, 52, 62, 0.24);
    -webkit-box-shadow: 0 4px 10px 0 rgba(48, 52, 62, 0.24);
    width: 97%;
    margin: 0 auto;
}

.service_Offer_box_inner {}

.service_Offer_box_inner img {
    width: 100%;
}

.service_offer_box_content_wrap {
    background: #fff;
    padding: 20px;
}

.service_content_box_desc {}

.service_content_box_desc h4 {
    font-size: 19px;
    color: #001c6b;
    font-weight: 600;
    margin-bottom: 10px;
}

.service_content_box_desc p {
    font-size: 15px;
    color: #282f41;
    font-weight: 400;
    line-height: 27px;
}

.moredn_btn {
    background: #001c6b;
    color: #fff !important;
    border-radius: 2px;
    height: 40px;
    display: inline-block;
    font-size: 15px;
    line-height: 1.6;
    position: relative;
    padding: 8px 18px;
    padding-right: 85px;
    font-weight: 600;
}

.strips {
    background-color: #00ffb6;
    opacity: .8;
    width: 48px;
    height: 48px;
    -webkit-transform: skew(38deg);
    -ms-transform: skew(38deg);
    transform: skew(38deg);
    position: absolute;
    top: -4px;
    right: 20px;
}

.moredn_btn i {
    top: 0;
    bottom: 0;
    font-size: 16px;
    line-height: 48px;
    margin-left: 4px;
    position: absolute;
    pointer-events: none;
    right: 38px;
    margin-top: -4px;
    font-weight: 700;
}

.extra_bootom_sec {
    background-image: url(../img/bg-2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    padding-top: 80px;
    padding-bottom: 165px;
}

.extra_bootom_sec::before {
    content: "";
    background: #001c6b;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.9;
}

.extra_bottom_sec_inner {
    text-align: center;
}

.extra_bottom_sec_inner span {
    position: relative;
    z-index: 1;
    color: #00ffb6;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    display: block;
    margin-bottom: 10px;
}

.extra_bottom_sec_inner h3 {
    font-size: 45px;
    color: #fff;
    font-weight: 700;
    width: 600px;
    margin: 0 auto;
    line-height: 55px;
    margin-bottom: 50px;
}

.extra_bottom_sec_inner a {
    background: rgb(9, 188, 138);
    color: #fff !important;
    padding: 11px 30px;
    box-shadow: 0 3px 13px rgba(0, 0, 0, 0.09), 0 1px 5px 0 rgba(0, 0, 0, 0.14);
    border-radius: 3px;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.2px;
}

.extra_bottom_sec_inner a i {
    font-size: 14px;
    margin-left: 10px;
}

.why_chose {
    position: relative;
    height: auto;
    background: #E9F1F9;
}

.why_choose_us_wrap {
    display: grid;
    grid-template-columns: 50% 50%;
}

.why_choose_us_bg {
    position: relative;
}

.why_choose_us_bg img {
    width: 100%;
    height: 588px;
    position: relative;
}

.why_choose_us_content_wrap {
    background: #fff;
    margin-top: -50px;
    padding-top: 57px !important;
    padding-right: 70px !important;
    padding-bottom: 42px !important;
    padding-left: 70px !important;
    position: relative;
    z-index: 10;
}

.why_choose_desc_inner {
    position: relative;
}

.why_choose_desc_inner span {
    font-size: 14px;
    font-weight: 500;
    color: #09bc8a;
    margin-bottom: 10px;
    display: block;
    text-transform: uppercase;
    letter-spacing: 0.8px;
}

.why_choose_desc_inner h5 {
    font-size: 35px;
    color: #001c6b;
    font-weight: 700;
    margin-bottom: 30px;
}

.why_choose_icon {
    position: relative;
    margin-top: -10px;
    padding-right: 20px;
}

.why_choose_icon i::before {
    font-size: 45px;
}

.why_choose_icon i {
    color: rgb(9, 188, 138);
}

.why_choose_right_content h6 {
    font-size: 18px;
    font-weight: 600;
    color: #0d2366;
    margin-bottom: 0;
}

.why_choose_right_content p {
    font-size: 15px;
    color: #282f41;
    font-weight: 400;
    margin-bottom: 0;
    margin-top: 10px;
}

.why_choose_desc_boxs {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-transition: all .4s ease-out;
    -moz-transition: all .4s ease-out;
    -o-transition: all .4s ease-out;
    transition: all .4s ease-out;
    padding: 10px 0px 0px 0px;
}

.why_chose .container {
    max-width: 1170px;
}

.border_btm {
    border-bottom: 1px solid #e9f1f9;
    padding-bottom: 20px;
    margin-bottom: 30px;
    -webkit-transition: all .4s ease-out;
    -moz-transition: all .4s ease-out;
    -o-transition: all .4s ease-out;
    transition: all .4s ease-out;
}

.why_choose_us_bg::before {
    content: " ";
    width: 100%;
    position: absolute;
    left: 0;
    top: -10px;
    right: 0;
    z-index: 5;
    border-top: 10px solid #09bc8a;

}

.testimonial {
    background-image: url(../img/testimonial_bg.png);
    width: 100%;
    height: auto;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 2;
    position: relative;
    margin-top: -30px;
    padding-top: 130px;
    padding-bottom: 60px;
}

.testimonial .container {}

.testimonila_left_wrap {
    padding-right: 90px;
}

.testimonila_left_wrap span {
    font-size: 14px;
    font-weight: 500;
    color: #09bc8a;
    margin-bottom: 10px;
    display: block;
    letter-spacing: 0.8px;
    text-transform: uppercase;
}

.testimonila_left_wrap h6 {
    font-size: 36px;
    font-weight: 700;
    color: #fff;
    line-height: 45px;
    margin-bottom: 25px;
}

.testimonila_left_wrap p {
    font-size: 15px;
    color: #fff;
    line-height: 26px;
    letter-spacing: 0.2px;
}

.testimonial_left_bottom {
    padding-top: 65px;
    position: relative;
}

.testimonial_left_bottom::before {
    content: " ";
    width: 75px;
    height: 75px;
    background-color: #fff;
    border-radius: 50%;
    opacity: .12;
    top: 35px;
    left: 11px;
    position: absolute;
}

.testimonial_left_bottom i {
    font-size: 45px;
    color: #09bc8a;
}


.testimonial__wrap__info {
    text-align: center;
    z-index: 4;
    position: relative;
    padding-left: 50px;
}

.testimonial_image {
    position: relative;
    max-width: 72px;
}

.testimonial_image::before {}

.testimonial_image img {
    width: 65px;
    border-radius: 50%;
    z-index: 4;
    position: relative;
    height: 65px;
}

.testimonial__inner_wrap_content {
    position: relative;
    height: auto;
    width: 100%;
    text-align: left;
}

.testimonial__inner_wrap_content h6 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
    font-style: italic;
    color: #09bc8a;
    z-index: 4;
    position: relative;
}

.testimonial__inner_wrap_content p {
    line-height: 30px;
    font-size: 14px;
    color: #fff;
    margin-bottom: 43px;
    font-weight: 300;
    letter-spacing: 0.8px;
}

.extra___testimonial {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    padding-bottom: 17px;
}

.extra___testimonial h6 {
    font-size: 17px;
    font-weight: 600;
    color: #09bc8a;
    margin-bottom: 3px;
    text-align: left;
}

.extra___testimonial p {
    color: #fff;
    font-size: 14px;
}

.clients_details {

    padding-left: 25px;
}

.clients_details h6 {}

.clients_details p {}

.testimonial_image::before {
    border: 1.5px solid #09bc8a !important;
    position: absolute;
    content: close-quote;
    border: 2px solid;
    left: -7px;
    right: -7px;
    bottom: -7px;
    top: -7px;
    border-radius: 50%;
    opacity: .5;
}

.testimonial_image {
    position: relative;
}

.testimonial_slider .owl-dots {
    margin-top: 30px !important;
    position: absolute !important;
    left: 50px !important;
}

.testimonial_slider .owl-dot span {
    height: 2px !important;
    width: 15px !important;
    margin-right: 20px !important;
    opacity: .3;
    background-color: #fff !important;
    display: inline-block !important;
}

.testimonial_slider .owl-dot.active span {
    height: 2px !important;
    width: 15px !important;
    margin-right: 20px !important;
    background-color: #09bc8a !important;
    display: inline-block !important;
    opacity: 1 !important;
}


.count__down_bottom {
    position: relative;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.count__type_3 {
    border-right: 1px solid #e9f1f9;
}

.green {
    font-size: 40px;
    letter-spacing: 1px;
    line-height: 56px;
    color: #09bc8a;
    font-weight: 900;
}

.count__type_3 p {
    color: #282f41;
    font-size: 14px;
    text-align: center;
    line-height: 26px;
}

.extra__bottom {
    background-image: url(../img/bg_blgng.jpg);
    height: 400px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.top__foot {
    background-image: url(../img/bg_cta.jpg);
    position: relative;
    background-size: cover;
    background-position: center center;
    padding-bottom: 60px;
    padding-top: 60px;
}

.top__foot::after {
    content: '';
    position: absolute;
    background: #001c6b;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.9;
    z-index: 1;
}

.news__letter_content {
    position: relative;
    z-index: 4;
}

.news__letter_content h6 {
    font-size: 27px;
    color: #fff;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 1.8;
}

.news__letter_content p {
    color: #fff;
    font-size: 14px;
    margin-bottom: 0;
}

.form__control_news {
    z-index: 4;
    position: relative;
    border-radius: 0px;
    height: 49px;
    padding: 0px 25px;
    background: none;
    color: #fff !important;
    border: 1px solid #fff;
    width: 68%;
    font-size: 14px;
    letter-spacing: 0.8px;
}

.newsletter__btn_sumbit {
    line-height: 1;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 0;
    position: relative;
    background: #09bc8a;
    z-index: 4;
    vertical-align: middle;
    border: 1px solid transparent;
    height: 50px;
    margin-left: 10px;
    width: 27%;
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
}

.newsletter__btn_sumbit:focus {
    color: #fff !important;
}

.main__footer {
    background: #16202b;
}

.foot_contact_wrap {
    background: #1c2733;
    position: relative;
    height: 100%;
    padding: 40px 40px;
}

.form__control_news::placeholder {
    color: #fff;
}

.foot_contact_wrap::before {
    content: '';
    position: absolute;
    left: 0;
    top: -4px;
    right: 0;
    height: 4px;
    z-index: 5;
    border-top: 4px solid #09bc8a;
}

.footer_logo {
    margin-bottom: 35px;
}

.footer_logo img {
    width: 165px;
}

.contact__options {
    margin-bottom: 35px;
}

.contact__options ul {
    margin: 0px;
    padding: 0px;
    font-size: 15px;
    font-weight: 500;
    line-height: 26px;
}

.contact__options ul li {
    color: #abb3bb;
    position: relative;
    padding-left: 25px;
    line-height: 2.4;
    font-size: 14px;
    letter-spacing: .8px;
    margin-bottom: 5px;
}

.contact__options ul li i {
    position: absolute;
    left: 0;
    top: 12px;
    font-size: 13px;
    color: #09bc8a;
}

.contact__options ul li a {
    color: #abb3bb;
}

.foot_social ul {
    margin-left: 0;
    margin-bottom: 0;
}

.foot_social ul li {
    display: inline;
}

.foot_social ul li a {
    background-color: #16202b;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    position: relative;
    margin: 0;
    margin-right: 5px;
}

.foot_social ul li a i {
    padding-top: 9px;
    color: #abb3bb;
    font-size: 14px;
}

.footer__links {
    padding-top: 100px;
    padding-bottom: 20px;
}

.green_foot {
    color: #09bc8a;
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 35px;
    letter-spacing: 0.6px;
}

.link_list {
    margin-left: 0;
    line-height: 26px;
    margin-bottom: 0px;
    padding: 0px;
}

.link_list li {

    margin-bottom: 10px;
}

.link_list li a {
    position: relative;
    color: #abb3bb;
    font-size: 14px;
    font-weight: 400;
    padding-left: 0px;
    letter-spacing: .8px;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.link_list a:hover {
    padding-left: 25px;
    color: #09bc8a;
}

.link_list a:hover::before {
    background: #09bc8a;
    position: absolute;
    content: '';
    left: 0;
    -webkit-transition: all .3s;
    transition: all .3s;
    top: 10px;
    width: 15px;
    height: 1px;
}

.foot__bootom {
    background: #131c26;
    padding-top: 25px;
    padding-bottom: 25px;
}

.copyright_text {
    margin-bottom: 0;
    color: #fff;
    font-size: 14px;
    letter-spacing: 0.8px;
}

.footer_logo h6 {
    color: #09bc8a;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 1px;
}

.team_sec p {
    color: #fff;
    font-size: 14px;
    float: right;
    margin-bottom: 0;
}

.team_sec p a {
    color: #09bc8a !important;
    font-weight: 700 !important;
}

.team_sections {
    background-image: url(../img/map-bg-row-1\ \(1\).png);
    background-position: 0 0 !important;
    background-repeat: no-repeat !important;
    padding-top: 95px;
    padding-bottom: 60px;
}

.each_team_sec {
    position: relative;
    width: 100%;
}

.team_sec_bg {
    position: relative;
}

.team_sec_bg img {
    width: 285px;
    min-height: 421px;
}

.team_sec_tiles {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -28px;
    padding: 20px 25px;
    padding-left: 60px;
    -webkit-transition: all .4s ease-out;
    -moz-transition: all .4s ease-out;
    -o-transition: all .4s ease-out;
    transition: all .4s ease-out;
    -webkit-transition: all 500ms cubic-bezier(0.855, 0.000, 0.155, 1.000);
    -moz-transition: all 500ms cubic-bezier(0.855, 0.000, 0.155, 1.000);
    -o-transition: all 500ms cubic-bezier(0.855, 0.000, 0.155, 1.000);
    transition: all 500ms cubic-bezier(0.855, 0.000, 0.155, 1.000);
}

.team_sec_tiles::before {
    content: " ";
    background: #282f41;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    opacity: 0.8;
}

.team_sec_tiles h5 {
    color: #09bc8a;
    position: relative;
    z-index: 10;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 0.2px;
    padding-top: 16px;
}

.team_sec_tiles p {
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    position: relative;
    z-index: 4;
    letter-spacing: 1px;
    font-family: 'muli', sans-serif;
}

.team_sec_title {
    position: relative;
    z-index: 4;
    width: 600px;
}

.team_sec_title span {
    font-size: 14px;
    font-weight: 500;
    color: #09bc8a;
    margin-bottom: 4px;
    display: block;
    letter-spacing: 0.8px;
    text-transform: uppercase;
}

.team_sec_title h6 {
    font-size: 36px;
    font-weight: 700;
    color: #001c6b;
    line-height: 44px;
    margin-bottom: 40px;
}

.team_sec_slider .owl-nav {
    display: block !important;
    position: absolute;
    top: -93px;
    right: 0;
    -webkit-transition: all 0.4s ease-out 0s;
    -moz-transition: all 0.4s ease-out 0s;
    -ms-transition: all 0.4s ease-out 0s;
    -o-transition: all 0.4s ease-out 0s;
    transition: all 0.4s ease-out 0s;
}

.team_sec_slider .owl-prev {
    background: #09bc8a !important;
    width: 37px;
    height: 37px;
    border-radius: 50% !IMPORTANT;
    outline: none !important;
    -webkit-transition: all 0.4s ease-out 0s;
    -moz-transition: all 0.4s ease-out 0s;
    -ms-transition: all 0.4s ease-out 0s;
    -o-transition: all 0.4s ease-out 0s;
    transition: all 0.4s ease-out 0s;
}

.team_sec_slider .owl-prev img {
    width: 100%;
    max-width: 21px;
    position: relative;
    margin-top: -2px;
    margin-right: -12px;
    -webkit-transition: all 0.4s ease-out 0s;
    -moz-transition: all 0.4s ease-out 0s;
    -ms-transition: all 0.4s ease-out 0s;
    -o-transition: all 0.4s ease-out 0s;
    transition: all 0.4s ease-out 0s;
}

.team_sec_slider .owl-next img {
    width: 100%;
    max-width: 21px;
    position: relative;
    margin-top: -2px;
    margin-left: -12px;
    -webkit-transition: all 0.4s ease-out 0s;
    -moz-transition: all 0.4s ease-out 0s;
    -ms-transition: all 0.4s ease-out 0s;
    -o-transition: all 0.4s ease-out 0s;
    transition: all 0.4s ease-out 0s;
}

.team_sec_slider .owl-next {
    background: #09bc8a !important;
    width: 37px;
    height: 37px;
    border-radius: 50% !IMPORTANT;
    outline: none !important;
    -webkit-transition: all 0.4s ease-out 0s;
    -moz-transition: all 0.4s ease-out 0s;
    -ms-transition: all 0.4s ease-out 0s;
    -o-transition: all 0.4s ease-out 0s;
    transition: all 0.4s ease-out 0s;
}

.owl-theme .owl-nav [class*=owl-]:hover {
    color: #FFF;
    text-decoration: none;
    outline: none !important;
}

.team_sec_slider .owl-prev:hover {
    background: #001c6b !important;
    transform: scale(1.1);
    box-shadow: 0px 3px 7px 0px rgba(40, 47, 65, 0.43);
}

.team_sec_slider .owl-next:hover {
    background: #001c6b !important;
    transform: scale(1.1);
    box-shadow: 0px 3px 7px 0px rgba(40, 47, 65, 0.43);
}

.team_btm_btn {
    float: right;
}

.team_sec_bootm_lef {
    padding-top: 40px;
}

.team_sec_bootm_lef h6 {
    font-size: 25px;
    color: #09bc8a;
    font-weight: 600;
}

.team_sec_bootm_lef p {
    color: #282f41;
    font-size: 14px;
    letter-spacing: 1px;
}

.ft_left {
    margin-top: 40px;
    float: right;
}

.blog {
    background: #e9f1f9;
    padding-top: 70px;
    padding-bottom: 100px;
    position: relative;
    height: auto;
}

.blogs_title {
    position: relative;
    z-index: 4;
}

.blogs_title span {
    font-size: 14px;
    font-weight: 500;
    color: #09bc8a;
    margin-bottom: 4px;
    display: block;
    letter-spacing: 0.8px;
    text-transform: uppercase;
}

.blogs_title h6 {
    font-size: 36px;
    font-weight: 700;
    color: #001c6b;
    line-height: 44px;
    margin-bottom: 40px;
}

.blog_sec_btn {

    padding-top: 16px;

    float: right;
}

.blog_sec_wrap {
    padding-top: 30px;
    position: relative;
}

.blog_sec_wrap a {}

.blog_sec_img {
    position: relative;
    width: 100%;
}

.blog_sec_img img {
    max-width: 100%;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.blog_sec_wrap_content {
    position: absolute;
    right: 0;
    bottom: -25px;
    padding: 25px 30px;
    max-width: 345px;
    background: rgba(9, 188, 138, 0.9);
    -moz-box-shadow: 0px 5px 19px -7px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow: 0px 5px 19px -7px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 5px 19px -7px rgba(0, 0, 0, 0.35);
    z-index: 10;
}

.blue_title {}

.blog_sec_wrap_content span {
    font-size: 14px;
    font-family: 'muli', sans-serif;
    position: relative;
    font-size: 13px;
    font-weight: 700;
    padding-left: 38px;
    -webkit-transition: all .4s ease-out;
    -moz-transition: all .4s ease-out;
    -o-transition: all .4s ease-out;
    transition: all .4s ease-out;
    color: #001c6b;
}

.blog_sec_wrap_content h5 {
    font-size: 19px;
    color: #fff;
    font-weight: 600;
}

.blog_sec_wrap_content a {
    font-size: 16px;
    color: #fff !important;
    font-weight: 700;
    margin-top: 10px;
    display: block;
}

.blog_sec_wrap_content span::before {
    content: " ";
    height: 1px;
    width: 25px;
    position: absolute;
    background: #001c6b;
    bottom: 7px;
    left: 0;
    transition: all .4s;
}

.blog_sec_img::before {
    position: absolute;
    content: close-quote;
    left: 9px;
    top: 9px;
    right: 56px;
    bottom: 9px;
    border: 1px solid #ffffff;
    opacity: .3;
    z-index: 1;
    width: auto;
    height: auto;
}

.blog_sec_wrap_content a i {
    font-size: 13px;
    margin-left: 10px;
}

.blog_sec_btn a {
    background: rgb(9, 188, 138);
    color: #fff !important;
    padding: 11px 30px;
    box-shadow: 0 3px 13px rgba(0, 0, 0, 0.09), 0 1px 5px 0 rgba(0, 0, 0, 0.14);
    border-radius: 3px;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.2px;
}

.why_choose_us_content_wrap::before {
    position: absolute;
    content: close-quote;
    left: 9px;
    top: 9px;
    right: 9px;
    bottom: 9px;
    border: 1px solid #e9f1f9;
    z-index: 1;
    width: auto;
    height: auto;
}

.service_btn_stly a {}

.bg_symbol {
    position: absolute;
    left: -71px;
    opacity: .4;
    margin: 0;
    font-weight: 700;
    font-size: 150px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #b6b6b6;
    top: -57px;
    z-index: -1;
}

.lef_adjust {
    left: -67px;
}

.left_secont_adjust {
    left: -21px;
    top: -58px;
}

.lef_third_adjust {
    font-size: 108px;
    left: -62px;
    top: -62px;
}

.drop_down_wrpa {
    z-index: 100;
    position: fixed;
    width: 50%;
    height: auto;
    display: none;
    transition: 0.8s ease-in-out;
    padding-top: 11px;
    left: 50%;
    transform: translate(-50%, 0);
    top: 13.5%;
}

.dropdown_inner {
    display: grid;
    grid-gap: 8px;
    grid-template-columns: 50% 50%;
    background: #fff;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, .15), 0 7px 41px 0 rgba(0, 0, 0, .1);
    width: 100%;
}

.dropdown_inner ul {
    margin-left: 0;
    background: #fff;
    position: relative;
    float: none;
}

.dropdown_inner ul li {
    display: block;
    margin: 0px 10px;
    position: relative;
    line-height: 30px;
    border-bottom: 1px solid #97919142;
    margin-top: 13px;
    margin-bottom: 8px;
}

.dropdown_inner ul li a {
    font-size: 13px;
    letter-spacing: 0.6px;
    padding: 8px 8px 0px 0px;
}

.main_header_menu ul li:hover .drop_down_wrpa {
    display: block;
    transition: 0.8s ease-in-out;
}

.bredcumb {
    background-image: url(../img/bredcumb_bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 136px;
    padding-bottom: 116px;
    height: 325px;
}

.breadcumb_title {}

.breadcumb_title h2 {
    text-shadow: 0 0 12px #333;
    color: #fff;
    text-align: center;
    font-size: 42px;
    font-weight: 600;
    letter-spacing: 1px;
}

.service_inner_page_wrap {
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
}

.tab_contnets_inner_box {}

.tab_contnets_inner_box h2 {
    color: #001c6b;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 20px;
}

.tab_contnets_inner_box h3 {
    color: #001c6b;
    font-size: 28px;
    font-weight: 600;
}

.tab_contnets_inner_box p {
    color: #333;
    line-height: 26px;
    font-size: 15px;
    font-weight: 400;
}

.tab_contnets_inner_box ul {
    margin-left: 0;
}

.tab_contnets_inner_box ul li {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: #282f41;
    line-height: 28px;
    position: relative;
    padding-left: 25px;
}

.nav-tabs {
    border-bottom: 0px !important;
    padding-top: 15px;
    padding-bottom: 20px;
}

.nav-tabs .nav-item {
    margin-bottom: 0px !important;
    position: relative;
    border-bottom: solid 1px rgba(0, 0, 0, 0.35);
    margin-bottom: 15px;
    position: relative;
    margin: 0px 21px;
    position: relative;
    line-height: 43px;
    display: block;
    width: 100%;
}

.nav-tabs .nav-link {
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    color: #333;
    font-size: 15px;
    letter-spacing: 0.4px;
}

.nav-link {
    display: block;
    padding: 0px !important;
    padding: 0 10px 0 10px !important;
    line-height: 47px;
    position: relative;
    font-size: 15px;
}

.service_inner_wrap_layout {}

.right_bg {
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 65%;
    width: 100%;
    height: 0;
    background-position: center;
    position: relative;
    z-index: 10;
}

.service_right_quick_access {
    background-color: #f1f1f2;
    display: block;
    position: relative;
    margin: 0;
    width: 90%;
    margin: auto;
    margin-top: -30px;
    z-index: 20;
}

.nav-tabs .nav-link.active {
    color: #1a4cd9;
    background-color: transparent !important;
    border: none;
    font-weight: bold;
    font-size: 17px;
}

.tab_contnets_inner_box ul li::before {
    content: "";
    background-image: url(../img/icon_checkmark_2.24.dc272d.svg);
    position: absolute;
    width: 30px;
    height: 12px;
    left: 0;
    top: 9px;
    background-repeat: no-repeat;
}

.about_breadcumb {
    background-image: url(../img/about_breadcumb_bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 136px;
    padding-bottom: 116px;
    height: 325px;
}

.about_section {
    position: relative;
    padding-top: 50px;
    padding-bottom: 60px;
}

.about_section .container {
    max-width: 1265px;
}

.about_title h1 {
    text-align: center;
    color: #001c6b;
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 15px;
}

.about_title p {
    font-size: 15px;
    color: #282f41;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    margin-bottom: 10px;
    margin: 0px 50px 10px;
    letter-spacing: 0.4px;
}

.about_wrap_box {
    -webkit-transition: -webkit-transform .3s cubic-bezier(.165, .84, .44, 1);
    transition: -webkit-transform .3s cubic-bezier(.165, .84, .44, 1);
    transition: transform .3s cubic-bezier(.165, .84, .44, 1);
    transition: transform .3s cubic-bezier(.165, .84, .44, 1), -webkit-transform .3s cubic-bezier(.165, .84, .44, 1);
    min-height: 395px;
}

.about_inner_wrap {
    display: block;
    background-color: #fff;
    margin: 40px 20px;
    -webkit-box-shadow: 0 10px 30px #ddd;
    box-shadow: 0 10px 30px #ddd;
    min-height: 306px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
}

.card_contnet {
    border: 1px solid #cecece;
    position: relative;
}

.about_icon {
    text-align: center;
    padding: 30px 0px 30px 0px;
}

.about_icon img {
    width: 25%;
}

.icon_title h4 {
    text-align: center;
    color: #001c6b;
    font-size: 20px;
    font-weight: 600;
}

.about_sub_title p {
    text-align: center;
    margin-top: 7px;
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
    color: #282f41;
    font-weight: 400;
}

.about_card_btn {
    width: 100%;
    text-align: center;
    padding-bottom: 32px;
    padding-top: 10px;
}

.about_wrap_box:hover {
    webkit-transition: -webkit-transform 1s cubic-bezier(.23, 1, .32, 1);
    transition: -webkit-transform 1s cubic-bezier(.23, 1, .32, 1);
    transition: transform 1s cubic-bezier(.23, 1, .32, 1);
    transition: transform 1s cubic-bezier(.23, 1, .32, 1), -webkit-transform 1s cubic-bezier(.23, 1, .32, 1);
    -webkit-transform: scale(1.06) translate3d(0, 0, 0);
    transform: scale(1.06) translate3d(0, 0, 0);
}

.what_we {
    position: relative;
    padding-top: 60px;
}

.what_we_do_wrap {
    background: #fff;
    -webkit-box-shadow: 0 20px 20px 0 rgba(44, 45, 46, .1);
    box-shadow: 0 20px 20px 0 rgba(44, 45, 46, .1);
    padding: 46px 65px 40px 65px;
}

.what_we_content {}

.what_we_content h4 {
    color: #001c6b;
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 20px;
}

.what_we_content p {
    font-size: 15px;
    color: #282f41;
    font-weight: 400;
    line-height: 29px;
}

.what_we_do_bg {
    
    background-position: center;
    width: 100%;
    height: 100%;
    background-size: cover;
}

.bg_chnage {
    
}

.team_inner_wrpa {
    position: relative;
    width: 100%;
}

.teams_bg {
    position: relative;
}

.teams_bg img {
    width: 285px;
    min-height: 421px;
}

.team_bg_sec_title {
    position: absolute;
    left: 7px;
    right: 0px;
    bottom: 0px;
    padding: 6px 17px;
    padding-left: 60px;
    -webkit-transition: all .4s ease-out;
    -moz-transition: all .4s ease-out;
    -o-transition: all .4s ease-out;
    transition: all .4s ease-out;
    -webkit-transition: all 500ms cubic-bezier(0.855, 0.000, 0.155, 1.000);
    -moz-transition: all 500ms cubic-bezier(0.855, 0.000, 0.155, 1.000);
    -o-transition: all 500ms cubic-bezier(0.855, 0.000, 0.155, 1.000);
    transition: all 500ms cubic-bezier(0.855, 0.000, 0.155, 1.000);
    overflow: hidden;
    width: 100%;
}

.team_bg_sec_title h5 {
    color: #09bc8a;
    position: relative;
    z-index: 10;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 0.2px;
    padding-top: 16px;
}

.team_bg_sec_title p {
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    position: relative;
    z-index: 4;
    letter-spacing: 1px;
    font-family: 'muli', sans-serif;
}

.team_section {
    position: relative;
    padding-top: 50px;
    padding-bottom: 20px;
}

.team_bg_sec_title::before {
    content: " ";
    background: #282f41;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    opacity: 0.8;
}

.mt_botom {
    margin-bottom: 40px;
}

.contact_bredcumb {
    background-image: url(../img/contact_bg.jpg);
}

.contact_wrpaper {
    padding-bottom: 0px;
    margin-bottom: -60px;
}

.contac_form_box_wrap {}

.contact_form_inner {}

.contact_map {}

.contact_details_wrap {

    padding-top: 30px;

    padding-right: 40px;
}

.contact_details_wrap ul {
    position: relative;
    margin: 0;
    border-bottom: solid 1px rgba(0, 0, 0, 0.35);
    padding-top: 10px;
}

.contact_details_wrap ul li {
    position: relative;
}

.contact_details_wrap ul li i {
    font-size: 19px;
    position: absolute;
    bottom: 4px;
    color: #09bc8a;
}

.contact_details_wrap ul li span {
    padding-left: 33px;
    color: #001c6b;
    font-size: 17px;
    font-weight: 500;
}

.contact_details_wrap p {
    color: #282f41;
    font-size: 14px;
    letter-spacing: 0.2px;
    margin-top: 5px;
    font-weight: 400;
    margin-bottom: 12px;
}

.contact_details_wrap p a {
    color: #282f41;
    font-size: 15px;
    letter-spacing: 0.2px;
    font-weight: 400;
}

.contac_form_box_wrap {
    background: #09bc8a;
    opacity: 0.97;
    position: relative;
    width: 92%;
    top: -28%;
    margin: auto;
    z-index: 4;
    height: 100%;
}

.contact_form_inner {

    padding: 30px 27px 56px 30px;
}

.contact_form_inner h3 {
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    width: 217px;
    margin-bottom: 40px;
}

.contact_details_wrap h4 {
    font-size: 25px;
    color: #001c6b;
    font-weight: 600;
    margin-bottom: 15px;
}

.form_group_crt {

    color: #fff;
}

.form_group_crt input {
    border: none;
    position: relative;
    border-radius: 0px;
    height: 50px;
    padding: 10px 9px 0px 2px;
    display: block;
    width: 100%;
    font-size: 14px;
    font-weight: 500;
    background: transparent;
    background-clip: padding-box;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    margin-bottom: 45px;
    border-bottom: 1px solid #fff;
    outline: none !important;
    color: #fff;
}

.form_group_crt textarea {
    border: none;
    position: relative;
    border-radius: 0px;
    height: 50px;
    padding: 10px 9px 0px 2px;
    display: block;
    width: 100%;
    font-size: 14px;
    font-weight: 500;
    background: transparent;
    background-clip: padding-box;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    margin-bottom: 30px;
    border-bottom: 1px solid #fff;
    outline: none !important;
    color: #fff;
}

.color_input {}

.form_group_crt input::placeholder {
    color: #fff;
}

.form_group_crt textarea::placeholder {
    color: #fff;
}

.site_button {
    background: #001c6b;
    color: #fff !important;
    padding: 11px 44px;
    box-shadow: 0 3px 13px rgba(0, 0, 0, 0.09), 0 1px 5px 0 rgba(0, 0, 0, 0.14);
    border-radius: 3px;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.2px;
    outline: none !important;
    border: none;
    margin-top: 30px;
}

.about_sec_content {}

.col_drop_down {
    padding: 15px;
    width: 100%;
}

.drop_down_wrpa::after {
    content: '';
    display: inline-block;
    border-top: solid 15px #41030300;
    border-right: solid 15px transparent;
    border-bottom: solid 15px #feffff;
    border-left: solid 15px transparent;
    position: absolute;
    left: 45%;
    top: -19px;
    transform: translateX(-50%);
}

.col_drop_down ul li::after {
    content: " ";
    position: absolute;
    background: #09bc8a;
    width: 0%;
    height: 1.5px;
    left: 0;
    bottom: -1.5px;
    transition: 0.5s all;
}

.col_drop_down ul li:hover::after,
.col_drop_down ul li:hover a {
    width: 100%;
    color: #09bc8a;
    font-size: 13.5px;
}

.fixed {
    transition: 0.5s ease-in-out;
    -webkit-animation: showHeader 0.3s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
    -moz-animation: showHeader 0.3s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
    -o-animation: showHeader 0.3s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
    animation: showHeader 0.3s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
    -webkit-transition: all .4s;
    transition: all .4s;
    box-shadow: 0 4px 10px rgba(40, 47, 65, 0.26);
}

@keyframes showHeader {
    0% {
        -webkit-transform: translateY(-40%);
        -moz-transform: translateY(-40%);
        -o-transform: translateY(-40%);
        transform: translateY(-40%);
    }

    100% {
        -webkit-transform: none;
        -moz-transform: none;
        -o-transform: none;
        transform: none;
    }
}

::-webkit-scrollbar {
    width: 15px
}

::-webkit-scrollbar-track:hover {
    background-color: #fff;
}

::-webkit-scrollbar-thumb {
    background-color: #09bc8a;
    border-radius: 16px;
    border: 5px solid #fff;
}

/* ::-webkit-scrollbar-thumb:hover {
    background-color: #c5c5c5;
    border: 1px solid #f4f4f4
} */

::-webkit-scrollbar-button {
    display: none
}

::-webkit-scrollbar-track {
    background-color: #fff
}

.team_sec_slider .owl-dots {
    display: none !important;
}

.long_btn20::after {
    height: 100%;
    left: -35%;
    top: 0;
    transform: skew(50deg);
    transition-duration: 0.6s;
    transform-origin: top left;
    width: 0;
    content: " ";
    background: #001c6b;
    position: absolute;
    border: 0px solid #001c6b;

}

.services_inner_sec {
    padding-top: 50px;
    padding-bottom: 60px;
}

.mts_top {
    margin-top: 40px;
}
.mobile_menu{
    display: none;
}
.contact_wrpaper{
    padding-top: 50px;
}