	/*
  	Flaticon icon font: Flaticon
  	Creation date: 10/01/2020 12:24
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-insurance:before { content: "\f100"; }
.flaticon-life-insurance:before { content: "\f101"; }
.flaticon-data-analysis:before { content: "\f102"; }
.flaticon-organize:before { content: "\f103"; }
.flaticon-customer-service:before { content: "\f104"; }
.flaticon-money-bag:before { content: "\f105"; }
.flaticon-business:before { content: "\f106"; }
.flaticon-chat:before { content: "\f107"; }