@media (max-width: 800px) {
    .header_s {
        display: none;
    }

    .hero_slider_inner {
        height: 378px;
    }

    .desc1 {
        width: 100%;
        padding-left: 20px;
        padding-top: 20%;
    }

    .hero_slider_contnet h4 {
        font-size: 25px;
        width: 100%;
    }

    .hero_brn2 {
        display: none;
    }

    .hero_brn1 {
        margin-right: 0px;
    }

    .about_sec_content {
        padding-right: 0;
        width: 100%;
    }

    .about_sec_content h1 {
        font-size: 25px;
        width: 100%;
        line-height: 31px;
    }

    .bg_symbol {
        display: none;
    }

    .about_sec {
        padding-top: 50px;
    }

    .about_sec_btn {

        margin-bottom: 40px;
    }

    .service_btn_stly {
        margin-bottom: 40px;
    }

    .service_offer_title h2 {
        font-size: 25px;
        line-height: 16px;
    }

    .service_offer_box {
        margin-bottom: 40px;
    }

    .service_offers {
        padding-bottom: 20px;
    }

    .extra_bottom_sec_inner h3 {
        font-size: 30px;
        color: #fff;
        font-weight: 700;
        width: 100%;
        margin: 0 auto;
        line-height: 36px;
        margin-bottom: 45px;
    }

    .why_choose_us_wrap {
        display: grid;
        grid-template-columns: 100%;
    }

    .why_choose_us_bg img {
        width: 100%;
        height: auto;
        position: relative;
    }

    .why_choose_us_content_wrap {

        margin-top: -50px;
        padding-top: 36px !important;
        padding-right: 15px !important;
        padding-bottom: 32px !important;
        padding-left: 20px !important;
        position: relative;
        z-index: 10;
    }

    .why_choose_desc_inner h5 {
        font-size: 25px;
        color: #001c6b;
        font-weight: 700;
        margin-bottom: 30px;
    }

    .why_choose_right_content p {
        font-size: 14px;

    }

    .testimonila_left_wrap {
        padding-right: 0px;
    }

    .testimonila_left_wrap h6 {
        font-size: 25px;
        font-weight: 700;
        color: #fff;
        line-height: 31px;
        margin-bottom: 20px;
    }

    .testimonial_left_bottom {
        display: none;
    }

    .testimonial__wrap__info {

        padding-left: 7px;
    }

    .testimonial {

        padding-top: 83px;

    }

    .extra_bootom_sec {

        padding-bottom: 80px;
    }

    .testimonial__inner_wrap_content {
        position: relative;
        height: auto;
        width: 100%;
        text-align: left;
        padding-top: 30px;
    }

    .team_sec_slider .item {
        padding: 0px;
    }

    .team_sec_title h6 {
        font-size: 25px;
        font-weight: 700;
        color: #001c6b;
        line-height: 24px;
        margin-bottom: 0px;
        width: 100%;
        margin-bottom: 30px;
    }

    .team_sec_tiles {
        position: absolute;
        left: 0px;
        right: 0;
        bottom: 0px;
        padding: 0px 25px;
        padding-left: 0px;
    }

    .team_sec_bootm_lef {
        padding-top: 0px;
        padding-left: 6px;
    }

    .ft_left {
        margin-top: 1px;
        float: none;
        margin-left: 10px;
    }

    .team_sec_slider .owl-nav {
        display: none !important;
    }

    .team_sec_tiles::before {
        width: 100%;
    }

    .team_sec_tiles h5 {
        padding-left: 15px;
    }

    .team_sec_tiles p {
        padding-left: 15px;
    }

    .team_sections {
        padding-top: 50px;
        background-position: center !important;
        background-size: cover;
        width: 100%;
        height: auto;
        overflow: hidden;
    }

    .blogs_title h6 {
        font-size: 25px;
        font-weight: 700;
        color: #001c6b;
        line-height: 44px;
        margin-bottom: 0px;
    }

    .blog_sec_btn {
        display: none;
    }

    .blog {

        padding-top: 50px;
        padding-bottom: 60px;

    }

    .blog_sec_wrap_content {
        position: relative;
        right: 0;
        bottom: 0px;
        padding: 25px 30px;
        max-width: 345px;

    }

    .news__letter_content h6 {
        font-size: 23px;
        color: #fff;
        font-weight: 700;
        letter-spacing: 1px;
        line-height: 1.8;
    }

    .newsletter__btn_sumbit {
        line-height: 1;
        font-size: 11px;
        height: 45px;
        margin-left: 0px;
        width: 100%;
        box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
    }

    .form__control_news {
        z-index: 4;
        position: relative;
        border-radius: 0px;
        height: 49px;
        padding: 0px 25px;
        background: none;
        color: #fff !important;
        border: 1px solid #fff;
        width: 100%;
        font-size: 14px;
        letter-spacing: 0.8px;
        margin-bottom: 30px;
    }

    .news__letter_content p {
        color: #fff;
        font-size: 14px;
        margin-bottom: 20px;
    }

    .footer__links {
        padding-top: 35px;
        padding-bottom: 0px;
        padding-left: 30px;
    }

    .copyright_text {
        font-size: 13px;
        width: 100%;
        text-align: center;
    }

    .team_sec p {
        color: #fff;
        font-size: 14px;
        float: none;
        margin-bottom: 0;
        text-align: center;
    }

    .about_breadcumb {

        padding-top: 70px;

        padding-bottom: 70px;

        height: auto;

        margin-top: 70px;
    }

    .breadcumb_title h2 {
        text-shadow: 0 0 12px #333;
        color: #fff;
        text-align: center;
        font-size: 35px;
        font-weight: 600;
        letter-spacing: 1px;
    }

    .about_title p {

        margin: 0px;

    }

    .about_inner_wrap {
        margin: 20px 0px;
    }

    .what_we_do_wrap {
        background: #fff;
        -webkit-box-shadow: 0 20px 20px 0 rgba(44, 45, 46, .1);
        box-shadow: 0 20px 20px 0 rgba(44, 45, 46, .1);
        padding: 15px;
    }

    .what_we_do_bg {
        background-image: url(../img/what_bg.jpg);
        background-position: center;
        width: 100%;
        background-size: cover;
        height: 300px;
        background-position: center;
    }

    .about_title h1 {
        font-size: 25px;
    }

    .what_we_content h4 {
        font-size: 25px;
    }

    .bredcumb {

        padding-top: 70px;

        padding-bottom: 70px;

        height: auto;

        margin-top: 70px;
    }

    .service_inner_wrap_layout {
        margin-top: 30px;
    }

    .tab_contnets_inner_box h3 {
        font-size: 25px;
    }

    .teams_bg img {
        width: 100%;
        min-height: auto;
        margin-bottom: 40px;
    }

    .team_bg_sec_title {
        position: absolute;
        left: 0px;
        right: 0px;
        bottom: 41px;
        padding: 0px 18px;
        padding-left: 30px;

    }

    .contact_wrpaper {
        padding-bottom: 78px;
        margin-bottom: 0px;
        padding-top: 50px;
    }

    .contac_form_box_wrap {
        background: #09bc8a;
        opacity: 0.97;
        position: relative;
        width: 100%;
        top: 0;
        margin: auto;
        z-index: 4;
        height: 100%;
        margin-top: 30px;
    }

    .contact_details_wrap {
        padding-top: 30px;
        padding-right: 0px;
    }

    .contact_form_inner {
        padding: 30px 27px 20px 30px;
    }

    .contact_form_inner h3 {
        color: #fff;
        font-size: 25px;
        font-weight: 700;
        width: 100%;
        margin-bottom: 15px;
    }

    .mobile_menu {
        width: 100%;
        height: 70px;
        z-index: 999999 !important;
        -webkit-transition: all 0.5s ease;
        -moz-transition: position 10s;
        -ms-transition: position 10s;
        -o-transition: position 10s;
        transition: all 0.5s ease;
        background: #fff;
        top: 0px;
        position: fixed;
        box-shadow: 0px 2px 18px 0px rgba(34, 34, 34, 0.19);
    }

    .mobile_menu_logo {
        width: 40%;
        padding-left: 40px;
        padding-top: 16px;
    }

    .mobile_menu_logo a img {
        width: 126px;

    }

    .mobo_button {
        right: 31px;
        top: 14px;
        width: 25px;
        height: 40px;
        position: absolute;
        z-index: 100;
    }

    .mobo_button span {
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        left: 0;
    }

    .mobo_button span:nth-child(1) {
        background: #09bc8a;
        display: block;
        width: 100%;
        height: 1.5px;
        top: 10px;
        margin-left: 8px;
        position: absolute;
    }

    .mobo_button span:nth-child(2) {
        background: #09bc8a;
        display: block;
        width: 70%;
        height: 2px;
        top: 16.5px;
        margin-left: 15px;
        position: absolute;
        border-radius: 2px;
    }

    .mobo_button span:nth-child(3) {
        background: #09bc8a;
        display: block;
        width: 100%;
        height: 1.5px;
        bottom: 15px;
        margin-left: 8px;
        position: absolute;
    }

    .mobo_button.cross_bar span:nth-child(1) {
        opacity: 0;
    }

    .mobo_button.cross_bar span:nth-child(2) {
        opacity: 1;
        left: 0px;
        position: absolute;
        transform: rotate(45deg);
        top: 14px;
        width: 22px;
        height: 1.5px;
    }

    .mobo_button.cross_bar span:nth-child(3) {
        transform: rotate(-45deg);
        position: absolute;
        top: 14px;
        left: 5px;
        width: 22px;
        height: 1.5px;
    }

    .mobo__menu_link {
        margin-top: 10px;
        z-index: 99999 !important;
        position: fixed;
        width: 0;
        height: 100%;
        background: #f1f1f2;
        right: 0;
        transition: all .5s;
        opacity: 0;
        visibility: hidden;
    }

    .mobo__menu_link ul {
        margin-bottom: 0;
        padding: 0;
        margin: 0;
        width: 100%;
    }

    .mobo__menu_link ul li {
        list-style: none;
        margin-top: 0;
        margin-bottom: 0;
    }

    .mobo__menu_link ul li a {
        border-bottom: 1px solid #dfdfdf;
        padding: 1em 5%;
        display: block;
        width: 100%;
        font-size: 14px;
        color: #55616C;
        font-weight: 600;
    }

    .mobo_button.open .mobo__menu_link {
        display: block;
    }

    .site_header {
        display: none;
    }

    .mobile_menu {
        display: block;
    }

    .active_menu {
        width: 100%;
        opacity: 1;
        visibility: visible;
        transition: all .5s;
        padding: 0px 0px 19px 1px;
    }

    .mobile_menu {
        display: block;
    }

    .mobo__menu_link ul li:hover .drop_down_wrpa {
        display: block;
        height: 227px;
        overflow-y: auto;
    }

    .drop_down_wrpa {
        z-index: 100;
        position: relative;
        width: 100%;
        height: auto;
        display: none;
        transition: 0.8s ease-in-out;
        padding-top: 0px;
        left: 00%;
        transform: translate(0%, 0);
        top: 0%;
    }

    .dropdown_inner {
        display: grid;
        grid-gap: 0px;
        grid-template-columns: 100%;
        background: #fff;
        box-shadow: 0 0 15px 0 rgba(0, 0, 0, .15), 0 7px 41px 0 rgba(0, 0, 0, .1);
        width: 100%;
    }

    .drop_down_wrpa::after {
        display: none;
    }

    .col_drop_down {
        padding: 0px;
        width: 100%;
    }

    .btn_danger {

        margin-top: 30px;
    }
    .home_slider {
        margin-top: 71px;
    }
    .team_sec_bg img {
        width: 100%;
        height: auto;
    }
    .each_team_sec {
        position: relative;
        width: 90%;
        margin: auto;
    }
    .team_sec_bootm_lef h6 {
        
        margin-top: 30px;
    }
}